name: Lint

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

permissions:
  checks: write

env:
  GO_VERSION: "1.25"
  GOLANGCI_LINT_VERSION: latest

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
